@font-face {
    font-family: 'HK Grotesk';
    src: url('~/assets/fonts/HKGrotesk-Regular.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('~/assets/fonts/HKGrotesk-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('~/assets/fonts/HKGrotesk-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

$red: #F13846;